<div class="example-button-row">
    <button class="example-button-row-b classique" (click)="onChange(0)" mat-stroked-button color="primary" routerLink="/classique">
        Scrabble classique
    </button>
    <mat-divider></mat-divider>
    <button class="example-button-row-b log290" (click)="onChange(1)" mat-stroked-button color="accent" routerLink="/LOG2990" disabled>
        Scrabble LOG2990
    </button>
    <mat-divider></mat-divider>
    <button class="example-button-row-b" mat-stroked-button color="warn" disabled>Meilleurs scores</button>
</div>
